@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  font-family: sans-serif;
  padding: 60px 20px;

  @media (min-width: 600px) {
    padding: 60px;
  }
}
