<article class="example" id="uk">
  <h1>HTML-partials</h1>

  <!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->
  <img src="images/logo.png" alt="" width="320" />

  <p>
    The
    <a
      href="https://github.com/posthtml/posthtml-include"
      target="_blank"
      rel="noopener noreferrer"
    >
      posthtml-include
    </a>
    plugin allows you to add code from other HTML files (fragments) to HTML page
    files. Fragments are stored in the <code>src/partials</code> folder. The
    addition occurs when compiling page files, such as <code>index.html</code>.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem amet in
    accusamus ullam. Iusto consectetur laudantium facere nobis. Dolor beatae
    blanditiis dolores rerum corporis accusamus mollitia consectetur quibusdam
    laudantium repellendus! Lorem ipsum dolor sit, amet consectetur adipisicing
    elit. Cumque corrupti facere sit dicta impedit a perspiciatis enim. Expedita
    quis neque similique dicta rerum perferendis! Dignissimos eveniet
    necessitatibus minus eos numquam eaque pariatur expedita non ullam excepturi
    doloribus dolorum rem sunt atque, ipsam, soluta laboriosam. Magnam quisquam,
    animi id temporibus a, repudiandae quod alias dolorem, porro ad laudantium.
    Illo at labore beatae eligendi, laudantium, obcaecati praesentium in
    voluptatem id, ad velit hic. Molestiae voluptatem numquam officia hic
    accusantium nihil id doloremque nesciunt dolorum possimus praesentium,
    maxime quibusdam laudantium doloribus voluptatum sed, earum exercitationem
    tempore perspiciatis a sapiente fugiat, error omnis! Laudantium ratione
    ducimus aut necessitatibus atque, nobis qui corrupti, exercitationem
    perspiciatis eum repellat laborum hic voluptatum eius omnis porro sint
    quibusdam ea excepturi quos vel! Laborum dignissimos dicta voluptatum
    deleniti voluptate ea eos totam perspiciatis quis possimus officiis
    molestiae quibusdam, soluta, neque atque dolore. Architecto eos repellat ab
    voluptas tempore debitis laudantium accusamus nisi! Odit obcaecati
    accusantium non corrupti aperiam, repellendus, animi dolorum corporis
    deserunt tenetur hic temporibus, aliquam voluptates natus! Alias cumque
    laborum similique officia adipisci id voluptatum? Ad numquam dolore, nisi
    asperiores exercitationem dicta suscipit est, mollitia ipsa quidem quaerat!
    Quisquam quas officia error fugit distinctio. Quibusdam, aperiam inventore?
  </p>

  <p>
    This <code>example.html</code> file is an example of such a snippet, with
    the markup of a certain part of the main page. This is very convenient for
    team development on student projects, when several people write in one HTML
    file at once.
  </p>

  <p>
    The syntax for adding a fragment to the main file is:
    <code> &lt;include src="./partials/filename.html"&gt;&lt;/include&gt;</code>
  </p>

  <div class="background"></div>
</article>
